{% extends 'submission/base.html' %}

{% block content %}
<ul class="list-group">
  {% for item in submits_list %}
  <li class="list-group-item">
      <span class="text-info">student_id: </span> <span>{{ item.submit.student_id }}</span>
      <br>
      <span class="text-info">assignment_id: </span><span>{{ item.submit.assignment_id }}</span>
      <br>
      <span class="text-info">submitted_on: </span><span>{{ item.submit.submitted_on }}</span>
      <br>
      <span class="text-info">status: </span><span>{{ item.submit.status }}</span>
      <br>
      <span class="text-info">file: </span><span>{{ item.submit.file }}</span>
  </li>
  {% endfor %}
</ul>
{% endblock %}