{% extends 'main/base.html' %}

{% block title %}
Login Page
{% endblock %}

{% block content %}
<h1>Login Page</h1>
<hr>
<form method="post">
    {% csrf_token %}
    <p>
        User Name:
    </p>
    <input type="text" placeholder="Enter User Name.." name="username" required>
    <p>
        Password:
    </p>
    <input type="password" placeholder="Enter Your Password.." name="password" required>
    <input type="submit" value="Login!">
</form>
    
<p>
    Don't have an account? <a href="/register">Create one</a>
</p>

{% for message in messages %}
<p>{{message}}</p>
{% endfor %}

{% endblock %}
    